### CSE2039 - Fundamentals of AI || PAT 2 Examination

#### Naive - Bayes Classification

Name : Sai Samyuktha N

Reg no : 20BRS1114

In [101]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [128]:
cd /content/gdrive/My Drive/Colab_csvs

/content/gdrive/My Drive/Colab_csvs

In [103]:
ls

FluPrediction.csv  Nephritis.csv  tennis_test.csv
hos.csv            output.csv     tenniswithcal.csv
IRIS.csv           Telecom.csv    WA_Fn-UseC_-HR-Employee-Attrition.csv
members.csv        tennis.csv

In [104]:
import pandas as pd 
import numpy as np

In [105]:
dataframe = pd.read_csv("Nephritis.csv")

In [106]:
dataframe

,Temperature,Nausea,Lumbar pain,Continous_need,Micturition pains,Burning,Nephritis
0,35.5,no,yes,no,no,no,no
1,35.9,no,no,yes,yes,yes,no
2,35.9,no,yes,no,no,no,no
3,36.0,no,no,yes,yes,yes,no
4,36.0,no,yes,no,no,no,no
...,...,...,...,...,...,...,...
115,41.4,no,yes,yes,no,yes,yes
116,41.5,no,no,no,no,no,no
117,41.5,yes,yes,no,yes,no,yes
118,41.5,no,yes,yes,no,yes,yes
119,41.5,no,yes,yes,no,yes,yes

In [107]:
"""
A. Exploratory analysis of the dataset (15 marks)

i.   Print number of samples and features in the dataset (2)

ii.   Print all the feature names (2)

iii.  Write a function to find the class prior probabilities and 
        print the result for the given dataset. (3)
        
iv.   Write a function to find the conditional probability 
        P(Lumbar pain | Nephritis) and print the result. (4)

v.   The attribute Temperature is continuous valued attribute.
       Write a function to find the conditional probability 
    P(Temperature pain | Nephritis). State any assumptions you make.(4)

"""

#(i)
print("Total number of samples in the dataset are ", dataframe.shape[0])
print("Total number of features in the dataset are ", dataframe.shape[1])

Total number of samples in the dataset are  120
Total number of features in the dataset are  7

In [108]:
#(ii) Feature names
print("\nFeature names are : \n")
for i in range(len(dataframe.columns)):
    print(f"Column {i+1} - {dataframe.columns[i]}")

Feature names are :

Column 1 - Temperature
Column 2 - Nausea
Column 3 - Lumbar pain
Column 4 - Continous_need
Column 5 - Micturition pains
Column 6 - Burning
Column 7 - Nephritis

In [109]:
#iii.

def ClassPriorProb(df):
    Nephritis_count = df.groupby('Nephritis').size()
    Nephritis_yes = Nephritis_count['yes']
    Nephritis_no = Nephritis_count['no']
    p_nyes = Nephritis_yes/df.shape[0] 
    p_nno = Nephritis_no/df.shape[0]
    print("Yes Class Prior Probability : ", end=" ")
    print(p_nyes)
    print("No Class Prior Probability : ", end=" ")
    print(p_nno)

ClassPriorProb(dataframe)

Yes Class Prior Probability :  0.4166666666666667
No Class Prior Probability :  0.5833333333333334

In [110]:
#iv.
#P(A|B) = P(A n B)/P(B)

def ConditionalProb(df):
    Pcnt = df.groupby('Nephritis').size()
    Pyes = Pcnt['yes']
    Pno = Pcnt['no']
    LP_count = df.groupby(['Lumbar pain','Nephritis']).size()
    # print(LP_count)
    # LP_total = df.groupby(['Lumbar pain']).size()
    # print(LP_total)
    P_LPy_yes = LP_count['yes','yes']
    P_LPy_no = LP_count['yes','no']
    try:
        P_LPn_yes = LP_count['no','yes']
    except KeyError:
        P_LPn_yes = 0
    P_LPn_no = LP_count['no','no']
    print(f"P(Lumbar pain = yes | Nephritis = yes) = {P_LPy_yes/Pyes}")
    print(f"P(Lumbar pain = yes | Nephritis = no) = {P_LPy_no/Pno}")
    print(f"P(Lumbar pain = no | Nephritis = yes) = {P_LPn_yes/Pyes}")
    print(f"P(Lumbar pain = no | Nephritis = no) = {P_LPn_no/Pno}")
    return

ConditionalProb(dataframe)

P(Lumbar pain = yes | Nephritis = yes) = 1.0
P(Lumbar pain = yes | Nephritis = no) = 0.2857142857142857
P(Lumbar pain = no | Nephritis = yes) = 0.0
P(Lumbar pain = no | Nephritis = no) = 0.7142857142857143

In [111]:
dataframe.head(5)

,Temperature,Nausea,Lumbar pain,Continous_need,Micturition pains,Burning,Nephritis
0,35.5,no,yes,no,no,no,no
1,35.9,no,no,yes,yes,yes,no
2,35.9,no,yes,no,no,no,no
3,36.0,no,no,yes,yes,yes,no
4,36.0,no,yes,no,no,no,no

In [112]:
#v.

# v.   The attribute Temperature is continuous valued attribute.
#      Write a function to find the conditional probability 
#      P(Temperature pain | Nephritis). State any assumptions you make.(4)

def ConditionalProb2(df):
    #Assumption - Temperature < 40 is low and >= 40 is high
    df2 = df
    for i in range(df2.shape[0]):
        if (df2['Temperature'][i] < 40):
            df2['Temperature'][i] = 'Low'
        else:  
            df2['Temperature'][i] = 'High'
    
    Pcnt = df.groupby('Nephritis').size()
    Pyes = Pcnt['yes']
    Pno = Pcnt['no']
    # print(df2)
    T_count = df.groupby(['Temperature','Nephritis']).size()
    # print(T_count)
    # T_total = df.groupby(['Temperature']).size()
    P_TH_yes = T_count['High','yes']
    P_TH_no = T_count['High','no']
    P_TL_yes = T_count['Low','yes']
    P_TL_no = T_count['Low','no']
    print(f"P(Temperature = High | Nephritis = yes) = {P_TH_yes/Pyes}")
    print(f"P(Temperature = High | Nephritis = no) = {P_TH_no/Pno}")
    print(f"P(Temperature = Low | Nephritis = yes) = {P_TL_yes/Pyes}")
    print(f"P(Temperature = Low | Nephritis = no) = {P_TL_no/Pno} \n\n")   
    
    
ConditionalProb2(dataframe)

P(Temperature = High | Nephritis = yes) = 0.8
P(Temperature = High | Nephritis = no) = 0.14285714285714285
P(Temperature = Low | Nephritis = yes) = 0.2
P(Temperature = Low | Nephritis = no) = 0.8571428571428571

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [122]:
0.14285714285714285 + 0.8571428571428571

1.0

In [123]:
"""

B. Naïve-Bayes : CategoricalNB from scikit-learn  (15 marks)

i.  Split the dataset into training and testing (80% and 20%) (3)

ii. Do encoding of features or class labels for CategoricalNB. 
    Print the 5 rows after encoding. (2 marks)
    
iii.Use the CategoricalNB from scikit-learn for building the Categorical
    Naïve-Bayes classifier using the training dataset and print the trained model parameters. (4)
    
iv. Test the model with test dataset. (2)

v.  Print the confusion matrix. (2)

vi. Change the following parameters and see for accuracy change.

alpha (Laplacian correction value) and min_categories   
(minimum no. of categories for each attribute). (2 marks)

"""

print("\n")

In [124]:
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [125]:
# from sklearn.naive_bayes import CategoricalNB

In [126]:
# help(GaussianNB())

In [127]:
# help(CategoricalNB())

In [118]:
y = dataframe.Nephritis.values
# new_data = dataframe.drop(['Nephritis'],axis = 1)
new_data = pd.get_dummies(dataframe.drop(['Nephritis'],axis = 1)) #encoding
print(f"First 5 rows : \n\n{new_data.head(5)}")
x = (new_data-np.min(new_data))/(np.max(new_data)-np.min(new_data)).values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

model = GaussianNB()
model.fit(x_train, y_train)
print("\n\n\nTrained model parameters:")
print("\nThe class count is: ",model.class_count_)
print("The class prior is: ",model.class_prior_)

First 5 rows :

   Temperature_High  Temperature_Low  Nausea_no  Nausea_yes  Lumbar pain_no  \
0                 0                1          1           0               0
1                 0                1          1           0               1
2                 0                1          1           0               0
3                 0                1          1           0               1
4                 0                1          1           0               0

   Lumbar pain_yes  Continous_need_no  Continous_need_yes  \
0                1                  1                   0
1                0                  0                   1
2                1                  1                   0
3                0                  0                   1
4                1                  1                   0

   Micturition pains_no  Micturition pains_yes  Burning_no  Burning_yes
0                     1                      0           1            0
1                     0                      1           0            1
2                     1                      0           1            0
3                     0                      1           0            1
4                     1                      0           1            0



Trained model parameters:

The class count is:  [62. 34.]
The class prior is:  [0.64583333 0.35416667]

In [119]:
#test data
nb_model = GaussianNB()
nb_model.fit(x_test,y_test)

GaussianNB()

In [120]:
#confusion matrix
from sklearn.metrics import confusion_matrix
y_predicted = model.predict(x_test)
cmatrix = confusion_matrix(y_test,y_predicted) 
print(cmatrix)

[[ 8  0]
 [ 2 14]]

In [121]:
# Report accuracy.
accuracy_nb = nb_model.score(x_test,y_test)
print(f"The Accuracy of the Naive Bayes classifier is : {accuracy_nb}")
print(f"Hence, this concludes that {accuracy_nb*100}% of samples are classified correctly")

The Accuracy of the Naive Bayes classifier is : 0.9166666666666666
Hence, this concludes that 91.66666666666666% of samples are classified correctly